* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
    font-family: "Raleway","Helvetica",sans-serif;
    max-width: 100%;
}

h1 {
    font-family: "Cinzel",serif;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid black;
}

h2 {
    font-family: "Cinzel",serif;
    padding: 5px;
    margin: 0;
}

h4 {
    font-family: "Cinzel",serif;
    padding: 5px;
    margin: 0;
    color: darkred;
}

h3, h5, h6, p, li{
    padding: 5px;
    line-height: 1.5;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    z-index: 10;
    border-bottom: 2px solid black;
}

nav {
    padding: 10px;
}

nav h5 {
    display: inline;
}

main {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-content: center;
    align-items: center;
}

main h2 {
    color: white;
}

#projects {
    padding: 3.5%;
    width: 100%;
}

.project-box {
    padding: 3%;
    background-color: lightgray;
    margin: 20px auto;
    width: 100%;
    max-width: 1100px;
}

.image-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.image-box img{
    max-height: 400px;
    max-width: 100%;
    padding: 10px 10px;
}

#about {
    padding: 3.5%;
    width: 100%;
}

.about-box {
    padding: 3%;
    background-color: white;
    margin: 20px auto;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.about-box .paragraph{
    display: flex;
    flex: 3 0 500px;
    flex-direction: column;
    padding: 20px;
}

.about-box .image {
    display: flex;
    flex: 1 0 250px;
    min-height: 200px;
    background-image: url("resources/Josiah.JPG");
    background-size: cover;
    background-position: right 25% center;
}

.paragraph p {
    text-align: left;
    line-height: 1.5;
}

.image img {
    object-fit: cover;
    z-index: 3;
}

#contact {
    padding: 3.5%;
    width: 100%;
}

.contact-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3%;
    margin: 20px auto 50px;
    width: 100%;
    max-width: 1100px;
}

a:hover {
    color: darkred;
}

a:active {
    color: red;
}

footer {
    background-color: white;
    padding: 20px;
    height: 100px;
    border-top: 2px solid black;
}

footer h5 {
    color: darkred;
}

@media screen and (max-width: 720px){
    .image-box img {
        padding: 10px 0px;
        max-width: 100%;
    }

    .image-box {
        max-width: 100%;
    }

    main {
        padding: 10px 0;
    }
}