*{
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Raleway", sans-serif;
    padding: 10% 10%;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: none;

}

p {
    margin: 10%;
    line-height: 1.5;
}

